<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sol e Vento - Capão da Canoa - RS. Artigos de Iluminação & Energia Solar Fotovoltaíca">
  <meta name="author" content="Eli Somorovski Medeiros">

  <title>Sol e Vento</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap/css/bootstrap.min.css" />

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top cabecalho" style="background-color: #fba75d;border: 1px solid #e7e7e7;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img id="logotipoSite" src="/imagens/Logotipo_pequeno.png" height="50" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/quem_somos">Quem Somos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contato">Contato</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item active nav-link fake_de_link" id="link_carrinho">
            Carrinho
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <div class="my-4">
          <h1>Sol e Vento</h1>
          <h5>Capão da Canoa - RS</h5>
        </div>
        <!--
        <div class="list-group">
          <a href="#" class="list-group-item">Iluminação</a>
          <a href="#" class="list-group-item">Energia Solar</a>
        </div>
      -->
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="imagens/foto1_carrossel.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="imagens/foto2_carrossel.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="imagens/foto3_carrossel.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="imagens/foto4_carrossel.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row container-loja" id="mostruario">

          <% produtos.forEach(function(produto){ %>
          <div class="col-lg-4 col-md-6 mb-4 container-produto" data-toggle="modal" data-target="#janela_de_detalhes_do_produto">
            <a href="#">
              <div class="id-produto" style="display: none"><%= produto.id_produto %></div>
              <div class="card h-100">
                <img class="card-img-top foto-produto" src="<%= produto.imagem_produto %>" alt="">
                <div class="card-body">
                  <h4 class="card-title nome-produto"><%= produto.nome_produto %></h4>
                  <h5>R$<span class="preco-produto"><%= produto.preco_produto %></span></h5>
                  <p class="card-text descricao-produto"><%= produto.descricao_produto %></p>
                </div>
                <div class="card-footer">                  
                </div>
              </div>
            </a>
          </div>
          <% }); %>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Sol e Vento 2020 | Responsável Técnico: Eli Somorovski Medeiros</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Janela de detalhes do produto -->
<div class="modal fade" id="janela_de_detalhes_do_produto">              
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- cabecalho -->
            
               
                <div class="modal-header">
                    <h4 class="modal-title">Detalhes do Produto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"  id="fecharModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>            
                <!-- corpo -->
                <div class="modal-body" id="corpoModal">
                  <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="" id="imagem_produto_mostruario" alt="">
                    <div class="card-body">
                      <h3 class="card-title" id="nome_produto_mostruario">Product Name</h3>
                      <h4>R$<span id="preco_produto_mostruario"></span></h4>
                      <p class="card-text" id="descricao_produto_mostruario">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p> 
                    </div>
                  </div>    
                </div>
                <div class="modal-footer d-flex mb-3">
                    <div class="mr-auto p-2">
                      <button type="button" data-dismiss="modal" class="btn btn-light" id="fechar_modal">Cancelar</button>
                    </div>
                    <div class="form-group p-2">
                      <label>Quantidade:</label>
                      <input type="number" id="quantidade_produto" class="form-control" min="1" max="10" style="width: 70px;" value="1">
                    </div>
                    <div class="p-2">
                      <button type="button" id="btn_enviar_carrinho" class="btn btn-success">Enviar para o carrinho</button>
                    </div>
                </div>
        </div>    
    </div>
</div>
<!-- Fim dos detalhes do produto -->

<!-- Carrinho de compras -->
<div class="modal fade" id="carrinho_de_compras">              
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- cabecalho -->
            <div class="modal-header">
                <h4 class="modal-title">Carrinho de compras</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"  id="fecharModalCarrinho">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>            
            <!-- corpo -->
            <div class="modal-body" id="corpoModalCarrinho">
              <!-- conteúdo do carrinho -->
              <div id="conteudo_carrinho"></div>     
              <!-- fim do conteúdo do carrinho -->
              <!-- dados do cliente -->
              <div id="dados_cliente"></div>
              <!-- dim dos dados do cliente -->
            </div>
            <div class="modal-footer d-flex mb-3">
                <div class="mr-auto p-2">
                  <h4>
                      <span>Total da compra: R$</span>
                      <span id="campo_valor_total"></span>
                  </h4>                                   
                </div>
                <div class="p-2">
                  <button type="button" data-dismiss="modal" class="btn btn-light" id="fechar_modal_carrinho">Continuar Escolhendo</button>
                </div>
                <div class="p-2">
                  <button type="button" id="btn_finalizar_compra" class="btn btn-success">Finalizar Pedido</button>
                  <button type="button" id="btn_enviar_compra" class="btn btn-success" style="display: none">Enviar Compra</button>
                </div>
            </div>
        </div>    
    </div>
</div>
<!-- Fim do carrinho -->



<!-- bloco de produto no carrinho-->
<div class="card mt-4 invisible float" id="bloco_produto_carrinho">
  <div class="row d-flex align-items-center">
    <img class="col-md-2 imagem_produto_carrinho" src="" width="50px" alt="">
    <h4 class="col-md-2 nome_produto_carrinho" >Product Name</h4>
    <h4 class="col-md-2">R$<span class="preco_produto_carrinho"></span></h4>
    <div class="col-md-2 form-group">
      <label>Qtd:</label>
      <input type="number" class="form-control quantidade_produto_carrinho" style="width: 70px;" min="1" max="10">
    </div>                      
    <div class="col-md-2">
        <h5>Total do item: R$<span class="total_do_item"></span></h5>
    </div>
    <div class="col-md-2 text-danger fake_de_link lixeira">
      <img src="imagens/lixeira_vermelha_40x80.png" style="padding-left: 9px;">
      Remover
    </div>
  </div>
</div>
<!-- fim do bloco de produto no carrinho-->

<!-- dados do cliente -->             
<div class="card mt-4 invisible float">
  <div class="container bloco_dados_cliente">
    <div>
      <h4>
        Insira seus dados para eu poder te entregar seu pedido:
      </h4>
    </div>
    <div class="card card-body">
      <div class="row">
        <div class="form-group col-sm-8">
          <label>
            Nome:
          </label>
          <input type="text" id="" class="form-control div_nome_cliente" required>
        </div>
        <div class="form-group col-sm-4">
          <label>
            CPF:
          </label>
          <input type="text" id="" class="form-control div_cpf_cliente" required>
        </div>
        <div class="form-group col-sm-4">
          <label>
            Telefone:
          </label>
          <input type="text" id="" class="form-control div_telefone_cliente" required>
        </div>
        <div class="form-group col-sm-4">
            <label>
              Email:
            </label>
            <input type="email" id="" class="form-control div_email_cliente" required>
          </div>
      </div>
    </div>
    <div class="card card-body" style="margin-top: 10px;">
      <div class="row">
        <div class="form-group col-sm-7">
          <label>
            Endereço:
          </label>
          <input type="text" id="" class="form-control div_endereco_cliente" required>
        </div>
        <div class="form-group col-sm-2">
          <label>
            Número:
          </label>
          <input type="text" id="" class="form-control div_numero_casa_cliente" required>
        </div>
        <div class="form-group col-sm-4">
          <label>
            Bairro:
          </label>
          <input type="text" id="" class="form-control div_bairro_cliente">
        </div>
        <div class="form-group col-sm-4">
          <label>
            Cidade:
          </label>
          <input type="text" id="" class="form-control div_cidade_cliente" required>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fim dos dados do cliente --> 

<!-- Contato via WhatsApp 

<img src="/imagens/whatsapp-icone-60x60.png" id="icone_whatsapp" class="fake_de_link">-->

<!-- Resposta de venda -->
<div id="snackbar"></div>




  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/css/bootstrap/js/bootstrap.js"></script>
  <script src="/js/variaveis_globais.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/escutas_jquery.js"></script>
  <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
